.at-list__item-content{
  margin-right: 0px;
}
.list{
  height: 220px;
}
.list1{
  height: 150px;
}
.r-input{
  height:60px;
  padding: 12px 0;
}

.at-search-bar__input{
  padding: 12px 37px;
  padding-left: 40Px;
}
