.head{
  height: 100px;
  width: 100%;
  background-color: #EBEBEB;
  text-align: center;
  line-height: 100px;
  color:#2BA345;
}
.de-card{
  margin-top: 30px;
  background-color:  rgba(83,172,150,0.4);
}
