$avatarSize: 140px;
$backgroundImgHeight: 180px;

.index {

}

.baseInfo-edit {
  padding: 0 30px;
}

.content-list {
  padding: 20px 50px;
}

.single-list {
  padding-left: 60px;
}

.at-input--disabled {
  opacity: 1;
}

.panel-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  margin-top: 10px;
}
.bt-t{
  background-color: #6190e8;
}
